.bosh
.docker
doc/tags
*local.sh
.*.log
*crap*
.flyrc
.vim/.netrwhist
.CFUserTextEncoding
.MCTranscodingSDK
.Trash
.Xauthority
.showterm
.android
.anyconnect
.atom
.bash_history
.bash_profile
.bashrc
.boom
.boomBack
.boot2docker
.bosh_config
.bundle
.bundler
.cache
.cf
.cloud-cli
.config
.cups
.dia
.dia-etc
.eclipse_keyring
.erlang.cookie
.fasd
.ffmpeg
.fontconfig
.free42
.gem
.git-authors
.gitk
.gnupg
.gnupg.bak
.pony
.gradle
.heroku
.ice
.irb-history
.ivy2
.lesshst
.m2
.mkshrc
.mysql_history
.netrc
.node-gyp
.npm
.nvm
.pairs
.ports.json
.profile
.pry_history
.psql_history
.rediscli_history
.rnd
.rspec
.rvm
.rvmrc
.sbt
.sh_history
.sonar
.sqldeveloper
.ssh
.subversion
.tmux
.travis
.uaac.yml
.vagrant.d
.vim-go
.vimfuzzyfinder
.viminfo
.wireshark
.wireshark-etc
.zcompdump-ehrmantraut-4.3.11
.zcompdump-ehrmantraut-5.0.5
.zlogin
.zprofile
.zsh-update
.zsh_history
.zshrc
Applications
Desktop
Development
Documents
Downloads
IBM
IBMERS
IBMERS.OLD
Library
Lightworks
Movies
Music
Pictures
Public
SametimeRooms
VirtualBox VMs
VirtualMachines
bin
go
oradiag_mark
stgodard.id
temp
tmp
workspace
.arm
.tor
.irssi
